<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>You Talk, I void setup()</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
  </head>
  <body>
    <header>
    </header>
    <main>
      <button id="button">Start listening</button>
      <div id="result"></div>
      <p id="message" hidden aria-hidden="true">
        Your browser doesn't support Speech Recognition. Sorry.
      </p>
    </main>
    <footer>
      <p>Idea by Nora Myriel Gruica & Linn Holweger</p>
      <p1>Built by Marvin Voss, credit to <a href="https://twitter.com/philnash">philnash</a></p1>
    </footer>
  </body>
</html>
