<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>You Talk, I void setup()</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>You Talk I void Setup() {}</h1>
    </header>
    <main>
      <img src='{{generatedImage}}'>
      <button id="button" onclick="switchWindow()">talk to me again</button>
    </main>
    <footer>
      <p>Idea by Nora Myriel Gruica & Linn Holweger</p>
      <p1>Built by Marvin Voss, credit to <a href="https://twitter.com/philnash">philnash</a></p1>
    </footer>
    <script>
      function switchWindow() {
        window.location.href="/";
      }
    </script>  
  </body>
</html>
